<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="QueryTriesAmount" value="5" />
		<add key="QueryTriesDelaySeconds" value="300" />
	</appSettings>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true"/>
	</runtime>
  <connectionStrings>
	  <!--MySql-->    
	  <add name="MySqlSourceConnectionStringTemplate" connectionString="Driver=MySQL ODBC 9.3 Unicode Driver;SERVER={server};DATABASE={database};USER={username};PASSWORD={password};OPTION=3;AllowLoadLocalInfile=true;" />
	  <add name="MySqlDestinationConnectionStringTemplate" connectionString="Driver=MySQL ODBC 9.3 Unicode Driver;SERVER={server};DATABASE={database};USER={username};PASSWORD={password};OPTION=3;AllowLoadLocalInfile=true;" />
	  <add name="MySqlVocabularyConnectionStringTemplate" connectionString="Driver=MySQL ODBC 9.3 Unicode Driver;SERVER={server};DATABASE={database};USER={username};PASSWORD={password};OPTION=3;AllowLoadLocalInfile=true;" />
	  
	  <!--MsSql-->
	  <add name="MsSqlSourceConnectionStringTemplate" connectionString="Driver=ODBC Driver 17 for SQL Server;Server={server};Database={database};Uid={username};Pwd={password};" />
	  <add name="MsSqlDestinationConnectionStringTemplate" connectionString="Driver=ODBC Driver 17 for SQL Server;Server={server};Database={database};Uid={username};Pwd={password};" />
	  <add name="MsSqlVocabularyConnectionStringTemplate" connectionString="Driver=ODBC Driver 17 for SQL Server;Server={server};Database={database};Uid={username};Pwd={password};" />
	  
	  <!--PostgreSQL-->
	  <add name="PostgreSQLSourceConnectionStringTemplate" connectionString="Driver=PostgreSQL Unicode;Server={server};Port=5432;Database={database};Uid={username};Pwd={password};SSLmode=require;CommandTimeout=600;Timeout=20;" />
	  <add name="PostgreSQLDestinationConnectionStringTemplate" connectionString="Driver=PostgreSQL Unicode;Server={server};Port=5432;Database={database};Uid={username};Pwd={password};SSLmode=require;CommandTimeout=600;Timeout=20;" />
	  <add name="PostgreSQLVocabularyConnectionStringTemplate" connectionString="Driver=PostgreSQL Unicode;Server={server};Port=5432;Database={database};Uid={username};Pwd={password};SSLmode=require;CommandTimeout=600;Timeout=20;" />

  </connectionStrings>
</configuration>
