<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="ChunkSize" value="1000" />
		<add key="DegreeOfParallelism" value="1" />

		<add key="OnlyEvenChunks" value="False" />
		<add key="OnlyOddChunks" value="False" />

		<add key="ChunksFrom" value="0" />
		<add key="ChunksTo" value="0" />
	</appSettings>
  <connectionStrings>
	  <!--MySql-->    
	  <add name="MySqlSourceConnectionStringTemplate" connectionString="Driver=MySQL ODBC 9.3 Unicode Driver;SERVER={server};DATABASE={database};USER={username};PASSWORD={password};OPTION=3;AllowLoadLocalInfile=true;" />
	  <add name="MySqlDestinationConnectionStringTemplate" connectionString="Driver=MySQL ODBC 9.3 Unicode Driver;SERVER={server};DATABASE={database};USER={username};PASSWORD={password};OPTION=3;AllowLoadLocalInfile=true;" />
	  <add name="MySqlVocabularyConnectionStringTemplate" connectionString="Driver=MySQL ODBC 9.3 Unicode Driver;SERVER={server};DATABASE={database};USER={username};PASSWORD={password};OPTION=3;AllowLoadLocalInfile=true;" />
	  
	  <!--MsSql-->
	  <add name="MsSqlSourceConnectionStringTemplate" connectionString="Driver=ODBC Driver 17 for SQL Server;Server={server};Database={database};Uid={username};Pwd={password};" />
	  <add name="MsSqlDestinationConnectionStringTemplate" connectionString="Driver=ODBC Driver 17 for SQL Server;Server={server};Database={database};Uid={username};Pwd={password};" />
	  <add name="MsSqlVocabularyConnectionStringTemplate" connectionString="Driver=ODBC Driver 17 for SQL Server;Server={server};Database={database};Uid={username};Pwd={password};" />
	  
	  <!--PostgreSQL-->
	  <add name="PostgreSQLSourceConnectionStringTemplate" connectionString="Driver=PostgreSQL Unicode;Server={server};Port=5432;Database={database};Uid={username};Pwd={password};SSLmode=require;" />
	  <add name="PostgreSQLDestinationConnectionStringTemplate" connectionString="Driver=PostgreSQL Unicode;Server={server};Port=5432;Database={database};Uid={username};Pwd={password};SSLmode=require;" />
	  <add name="PostgreSQLVocabularyConnectionStringTemplate" connectionString="Driver=PostgreSQL Unicode;Server={server};Port=5432;Database={database};Uid={username};Pwd={password};SSLmode=require;" />
	  
	  <!--Redshift-->
	  <!--
	  <add name="RedshiftSourceConnectionStringTemplate" connectionString="Driver=___;Server={server};Port=5439;Database={database};Uid={username};Pwd={password};SSLmode=require;" />
	  <add name="RedshiftDestinationConnectionStringTemplate" connectionString="Driver=___;Server={server};Port=5439;Database={database};Uid={username};Pwd={password};SSLmode=require;" />
	  <add name="RedshiftVocabularyConnectionStringTemplate" connectionString="Driver=___;Server={server};Port=5439;Database={database};Uid={username};Pwd={password};SSLmode=require;" />
	  -->

  </connectionStrings>
</configuration>
