<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Batches" value="10"/>
    <add key="BatchSize" value="1000"/>
    <add key="MaxDegreeOfParallelism" value="10"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="StoreToAPS" value="false"/>
    <add key="aws_access_key_id" value=""/>
    <add key="aws_secret_access_key" value=""/>
    <add key="bucket" value=""/>
    <add key="SubChunkSize" value="1000"/>

    <add key="loadId" value="0"/>
    <add key="achillesJsonFolder" value=""/>
    <add key="runCostAnalysis" value="TRUE"/>
    <add key="resultsSchema" value=""/>

    <add key="hixServer" value=""/>
    <add key="hixDb" value=""/>
    <add key="hixPort" value=""/>
    <add key="hixUser" value=""/>
    <add key="hixPassword" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Source" connectionString=""/>
    <add name="Destination" connectionString=""/>
    <add name="Vocabulary" connectionString=""/>
    <add name="Builder" connectionString=""/>
    <add name="CDM_Processing" connectionString=""/>
    <add name="APS" connectionString=""/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
