<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Batches" value="10"/>
    <add key="BatchSize" value="1000"/>
    <add key="MaxDegreeOfParallelism" value="1"/>
    
    <add key="s3_aws_access_key_id" value=""/>
    <add key="s3_aws_secret_access_key" value=""/>
    <add key="ec2_aws_access_key_id" value=""/>
    <add key="ec2_aws_secret_access_key" value=""/>
    
    <add key="bucket" value=""/>
    <add key="skipSaveToRedshift" value="False"/>
    <add key="loadId" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Source" connectionString="Driver={SQL Server Native Client 11.0};Server=;Database=;Uid=;Pwd=;" />
    <add name="Destination" connectionString="Driver={SQL Server Native Client 11.0};Server=;Database=;Uid=;Pwd=;" />
    <add name="Vocabulary" connectionString="Driver={SQL Server Native Client 11.0};Server=;Database=;Uid=;Pwd=;" />
    
    <add name="Builder" connectionString="Data Source=;Initial Catalog=;User Id=;Password=;" />
    <add name="CDM_Processing" connectionString="Data Source=;Initial Catalog=;User Id=;Password=;" />
    <add name="HIX" connectionString="Data Source=;Initial Catalog=;User Id=;Password=;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
