use @cdm_database_schema;
GO
/****** Object:  Table [dbo].[HES_FieldMappings]    Script Date: 22-Jun-2017 09:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HES_FieldMappings](
	[MappingId] [int] NOT NULL,
	[FieldId] [int] NOT NULL,
	[Value] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Condition] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[HES_FieldMappings] ([MappingId], [FieldId], [Value], [Description], [Condition]) VALUES (12136, 1592, N'0', N'Valid (or missing because not required)', NULL)
INSERT [dbo].[HES_FieldMappings] ([MappingId], [FieldId], [Value], [Description], [Condition]) VALUES (12137, 1592, N'1', N'Missing', NULL)
INSERT [dbo].[HES_FieldMappings] ([MappingId], [FieldId], [Value], [Description], [Condition]) VALUES (12138, 1592, N'2', N'Invalid', NULL)
GO
