use @cdm_database_schema;

GO
/****** Object:  Table [dbo].[HES_FieldDefinitions]    Script Date: 22-Jun-2017 09:08:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HES_FieldDefinitions](
	[FieldId] [int] NOT NULL,
	[HES_FieldName] [nvarchar](max) NULL,
	[FieldName] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Class] [nvarchar](200) NULL,
	[LengthFormat] [nvarchar](50) NULL,
	[Availability] [nvarchar](300) NULL,
	[DataCleaning] [nvarchar](max) NULL,
	[IsCategorical] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[HES_FieldDefinitions] ([FieldId], [HES_FieldName], [FieldName], [Description], [Class], [LengthFormat], [Availability], [DataCleaning], [IsCategorical]) VALUES (1592, N'Admission date check flag', N'adm_cfl', N'Codes in this field indicate whether the patient''s admission date is valid.', N'Admissions', N'1n', N'All years', N'Not applicable (derived by rule 35)', NULL)
INSERT [dbo].[HES_FieldDefinitions] ([FieldId], [HES_FieldName], [FieldName], [Description], [Class], [LengthFormat], [Availability], [DataCleaning], [IsCategorical]) VALUES (1593, N'Date of admission', N'admidate', N'This field contains the date the patient was admitted to hospital at the start of a hospital spell. 
Admidate is recorded on all episodes within a spell.', N'Admissions', N'dd/mm/yyyy (Date)', N'All years', N'Rule 35', NULL)
INSERT [dbo].[HES_FieldDefinitions] ([FieldId], [HES_FieldName], [FieldName], [Description], [Class], [LengthFormat], [Availability], [DataCleaning], [IsCategorical]) VALUES (1594, N'Date of decision to admit', N'elecdate', N'This field contains the date on which a consultant, or another member of the clinical staff, 
decided to admit the patient to a hospital. 
The patient may or may not be admitted immediately. The time between elecdate and 
admidate (admission date) is known as the waiting time.', N'Admissions', N'dd/mm/yyyy (Date)', N'All years', N'Rules 40 and 45', NULL)
GO
