<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ChunkSize" value="1000" />
    <add key="DegreeOfParallelism" value="1" />

    <add key="OnlyEvenChunks" value="False" />
    <add key="OnlyOddChunks" value="False" />

    <add key="ChunksFrom" value="0" />
    <add key="ChunksTo" value="0" />
    
    <add key="Vendor" value="Cprd" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.cprd.CprdPersonBuilder, org.ohdsi.cdm.framework.etl.cprd, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
   
    <!--<add key="Vendor" value="Cerner" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.cerner.CernerPersonBuilder, org.ohdsi.cdm.framework.etl.cerner, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->

    <!--<add key="Vendor" value="HES" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.cprdhes.CprdHESPersonBuilder, org.ohdsi.cdm.framework.etl.cprdhes, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->

    <!--<add key="Vendor" value="HCUP" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.hcup.HcupPersonBuilder, org.ohdsi.cdm.framework.etl.hcup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->

    <!--<add key="Vendor" value="HealthVerity" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.healthverity.HealthVerityPersonBuilder, org.ohdsi.cdm.framework.etl.healthverity, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->

    <!--
    <add key="Vendor" value="CCAE" />
    <add key="Vendor" value="MDCR" />
    <add key="Vendor" value="MDCD" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.ibm.IbmPersonBuilder, org.ohdsi.cdm.framework.etl.ibm, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    -->

    <!--<add key="Vendor" value="JMDC" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.jmdc.JmdcPersonBuilder, org.ohdsi.cdm.framework.etl.jmdc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->

    <!--<add key="Vendor" value="NHANES" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.nhanes.NhanesPersonBuilder, org.ohdsi.cdm.framework.etl.nhanes, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->

    <!--
    <add key="Vendor" value="SES" />
    <add key="Vendor" value="DOD" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.optumextended.OptumExtendedPersonBuilder, org.ohdsi.cdm.framework.etl.optumextended, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    -->

    <!--
    <add key="Vendor" value="Full" />
    <add key="Vendor" value="Covid" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.optumpanther.OptumPantherPersonBuilder, org.ohdsi.cdm.framework.etl.optumpanther, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    -->

    <!--
    <add key="Vendor" value="Full" />
    <add key="Vendor" value="Covid" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.premier.PremierPersonBuilder, org.ohdsi.cdm.framework.etl.premier, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    -->

    <!--<add key="Vendor" value="Seer" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.seer.SeerPersonBuilder, org.ohdsi.cdm.framework.etl.seer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->

    <!--<add key="Vendor" value="Symphony" />
    <add key="PersonBuilder" value="org.ohdsi.cdm.framework.etl.symphonyemr.SymphonyEMRPersonBuilder, org.ohdsi.cdm.framework.etl.symphonyemr, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->

    <!--<add key="CDM" value="v6.0" />-->
    <add key="CDM" value="v5.3" />
  </appSettings>
  <connectionStrings>
    <!--MySql-->
    
    <add name="SourceConnectionStringTemplate" connectionString="DRIVER={MySQL ODBC 8.0 UNICODE Driver};SERVER={server};DATABASE={database};USER={username};PASSWORD={password};OPTION=3;" />
    <add name="DestinationConnectionStringTemplate" connectionString="DRIVER={MySQL ODBC 8.0 UNICODE Driver};SERVER={server};DATABASE={database};USER={username};PASSWORD={password};OPTION=3;" />
    <add name="VocabularyConnectionStringTemplate" connectionString="DRIVER={MySQL ODBC 8.0 UNICODE Driver};SERVER={server};DATABASE={database};USER={username};PASSWORD={password};OPTION=3;" />
    

    <!--MsSql-->
    <!--
    <add name="SourceConnectionStringTemplate" connectionString="Driver={SQL Server Native Client 11.0};Server={server};Database={database};Uid={username};Pwd={password};" />
    <add name="DestinationConnectionStringTemplate" connectionString="Driver={SQL Server Native Client 11.0};Server={server};Database={database};Uid={username};Pwd={password};" />
    <add name="VocabularyConnectionStringTemplate" connectionString="Driver={SQL Server Native Client 11.0};Server={server};Database={database};Uid={username};Pwd={password};" />
    -->

    <!--PostgreSQL-->
    <!--<add name="SourceConnectionStringTemplate" connectionString="Driver={PostgreSQL UNICODE};Server={server};Port=5432;Database={database};Uid={username};Pwd={password};sslmode=require;UseDeclareFetch=1;" />-->
    <!--<add name="DestinationConnectionStringTemplate" connectionString="Driver={PostgreSQL UNICODE};Server={server};Port=5432;Database={database};Uid={username};Pwd={password};sslmode=require;UseDeclareFetch=1;" />-->
    <!--<add name="VocabularyConnectionStringTemplate" connectionString="Driver={PostgreSQL UNICODE};Server={server};Port=5432;Database={database};Uid={username};Pwd={password};sslmode=require;UseDeclareFetch=1;" />-->
  </connectionStrings>
</configuration>
